<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="config/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="W3comHulk test suite">
            <directory suffix="Test.php">./W3com/HulkBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>